*{
    padding:0;
    margin: 0;
}
header{
    background-image:linear-gradient(to left, blue,white);
    width:100%;
    height: 100px;
}
#spanid{
    float:right;
    width:30%;
    height: 100%;
}
header h1{
  float:left;
  line-height: 100px;
  padding: 0 15px;
  font-size: 40px;
  color:white;
}
header img{
    width:30%;
    height: 100%;
}
nav{
   width:70%;
   text-align: center;
   font-size: 20px;
}
nav a{
    text-decoration: none;
    color:black; 
    font-weight: bold;
    display: inline-block;
    line-height: 70px;
}
nav a:hover{
    background-color: black;
    color: white;
    width:100px;
    height: 100px;
}
nav li{
    width: 100px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
}
main{
    width: 100%;
    height: 450px;
    background-color: red;
    border-top: 3px solid white;
   /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
   animation-name: app;
   animation-duration: 12s;
   animation-iteration-count: infinite;
}
@keyframes app{
    0%{
        background-color: brown;
    }
    10%{
        background-color: chocolate;
    }
    50%{
        background-color: darkgoldenrod;
    }
    80%{
        background-color: darkorange;
    }
    100%{
        background-color: darksalmon;
    }
}
 main article{
    float: right;  
    width: 60%;
    height: 450px;
    position: relative; 
    
}
article a{
     position: absolute; 
    width:300px;
    height: 90px;
    display: block;
}
main aside{
    background-color: rgb(255, 248, 248);
    width: 30%;
    height: 450px;
    float: left;
    
}
aside img{
    width:100%;
    height: 32%;
    border-top:2px  solid  white;
}
footer{
    background-image: linear-gradient(to left, blue,white);
    width:100%;
    height: 100px;  
}
footer h1{
    text-align: center;
     line-height: 80px;
}
@media (max-width:1200px){
    #spanid{
        width:40%;
        text-align: center;
    }
}
@media(max-width:800px){
    header , main{
        height: auto;
        width:100%;
    }
    #spanid{
       width:100%;
       text-align: center;
    }
    nav{
        width:100%;
    }
    #divid{
        width:100%;
        height: auto;
    }
    #spanid img , #spanid h1{
        float:none;
        width:50%;
    }
    main article{
     width:80%;
    }
    article img{
        width:50%;
        height: 10px;
    }
    main aside {
        width:80%;
    }
    aside img{
        display: inline-block;
        width:20%;
        height:30%;
        
    }
    nav a {
        display: block;
    }
}